In [5]:
import pandas as pd

# Load the datasets
airports_df = pd.read_csv("airports.csv")
weather_df = pd.read_csv("weather.csv")

# Display the first few rows of each dataset
print("Airports Data:")
display(airports_df.head())
print("Weather Data:")
display(weather_df.head())

# 1. Find the northernmost airport
northernmost_airports = airports_df.nlargest(5, 'lat')
print("Top 5 Northernmost Airports:")
display(northernmost_airports)

# 2. Find the easternmost airport
easternmost_airports = airports_df.nlargest(5, 'lon')
print("Top 5 Easternmost Airports:")
display(easternmost_airports)

# 3. Find the windiest airport in the New York area on Feb 12, 2013
ny_airports = ['EWR', 'JFK', 'LGA']
weather_ny_feb12 = weather_df[(weather_df['year'] == 2013) & 
                              (weather_df['month'] == 2) & 
                              (weather_df['day'] == 12) & 
                              (weather_df['origin'].isin(ny_airports))]

# Identify the airport with the highest wind speed on that day
windiest_airport = weather_ny_feb12.groupby('origin')['wind_speed'].max().idxmax()
max_wind_speed = weather_ny_feb12.groupby('origin')['wind_speed'].max().max()

print(f"The windiest airport in NY area on Feb 12, 2013, was {windiest_airport} with a maximum wind speed of {max_wind_speed}.")

# Markdown Results
results = """
# Results

## Northernmost Airport
The northernmost airport in the United States is listed in the top 5 northernmost airports.

## Easternmost Airport
The easternmost airport in the United States is listed in the top 5 easternmost airports.

## Windiest Airport on February 12, 2013
The windiest airport in the New York area on this date was **{windiest_airport}**, with a recorded wind speed of **{max_wind_speed}**.

## Assumptions & Data Adjustments
- The wind speed values need validation to ensure they are in appropriate units.
- The list of northernmost and easternmost airports was obtained by sorting latitude and longitude values respectively.
- Only major New York area airports (EWR, JFK, LGA) were considered.

"""

# Save results as markdown
with open("results.md", "w") as f:
    f.write(results)

print("Analysis complete. Check the markdown file for results.")

Airports Data:

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

Weather Data:

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

Top 5 Northernmost Airports:

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

Top 5 Easternmost Airports:

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

The windiest airport in NY area on Feb 12, 2013, was EWR with a maximum wind speed of 1048.36058.
Analysis complete. Check the markdown file for results.

In [ ]:
I assumed that EWR would be the wind